body {
  font-family: Arial, sans-serif;
  background-color: #f0f4ff;
  color: #0f1268;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  text-align: center;
  margin-top: 20px;
  color: #3e4eb8;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.matrix {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.inputRes {
  font-size: 16px;
  color: #0a0215;
  background-color: #f0f0f5;
  border: 2px solid #5e5df0;
  border-radius: 10px;
  padding: 8px 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 790px;
  outline: none;
  pointer-events: none;
}
.firstm h2 {
  color: #3e4eb8;
  font-size: 1.2em;
  margin-bottom: 8px;
}

textarea {
  width: 100%;
  max-width: 600px;
  height: 150px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  background-color: #e7e9fd;
  color: #0a0215;
  border: 2px solid #5e5df0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  resize: vertical;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea:focus {
  border-color: #8a2be2;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.div2 {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.label {
  font-size: 16px;
  color: #ffffff;
  background-color: #6230f6;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

input[type="radio"]:checked + .label {
  background-color: #8a2be2;
}

.label:hover {
  background-color: #8a2be2;
}

button {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #6230f6;
  border: none;
  border-radius: 12px;
  padding: 12px 22px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #8a2be2;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

#mynetwork {
  width: 100%;
  max-width: 750px;
  height: 400px;
  background-color: #e7e9fd;
  border: 2px solid #6230f6;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#mynetwork:focus,
#mynetwork:hover {
  border-color: #8a2be2;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  textarea {
    max-width: 90%;
  }
  button {
    width: 100%;
  }
  .label {
    padding: 8px 12px;
  }
  #mynetwork {
    max-width: 90%;
    height: 300px;
  }
}
.highlight {
  background-color: yellow;
}
